// app global css in SCSS form

body {
  background-color: $dark-page;
  color: white;
}

.q-drawer {
  background: $dark;
}

.caption {
  color: #f1f1f186;
}

.logoInvert {
  filter: invert(1);
}

.bgblack {
  background-color: $dark-page;
}

.card-wrapper {
  min-width: 60vw;
  background-color: $dark;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem 0;

  color: #f1f1f186;
  font-size: 0.85rem;
}

.btns-wrapper {
  & > * {
    background-color: $dark-page !important;
    margin: 0 0.5rem;
  }
}

li {
  list-style: none;

  background: $dark-page;
  // margin: 1rem 0;
}

ul {
  padding: 0;
}

.character-frame {
  background-color: $dark !important;

  box-sizing: border-box;
  border: 1px solid $dark-page;

  &:hover {
    border: 1px solid white;
  }
}
