// app global css in SCSS form

body {
  background-color: $dark-page;
  color: white;
}

li {
  list-style: none;

  background: $dark-page;
  margin: 0;
  // margin: 1rem 0;
}

ul {
  padding: 0;
}
